{% for action in game.actions %}
    <a href="{{ path('results', {'action': action}) }}"
       class="action-btn"
       style="display:inline-block; margin-right:1rem;"
       title="action">
        <h3>{{ action | capitalize }}</h3>
    </a>
{% endfor %}