{% extends "AppBundle::base.html.twig" %}

{% block content %}
    <div style="display:block;">
        <div style="display:inline-block; margin-right:2rem;">
            <h4>Player Chose</h4>
            <h3>{{ game.player | capitalize }}</h3>
        </div>
        <div style="display:inline-block">
            <h4>Computer Chose</h4>
            <h3>{{ game.computer | capitalize }}</h3>
        </div>
    </div>

    <hr />

    {% if game.winner == "tie" %}
        <h1>Tie game.</h1>
    {% else %}
        <h1>The {{ game.winner }} has won!</h1>
    {% endif %}

    <h3>{{ game.message }}</h3>

    <hr />

    <h2>Play again?</h2>
    {% include "AppBundle:Game/partial:actions.html.twig" %}

    <hr />

    <a href="{{ path('scores') }}">
        <h4>View scores</h4>
    </a>
{% endblock %}