{% extends "AppBundle::base.html.twig" %}

{% block content %}
    <h1>Game Results:</h1>
    <a href="{{ path('play') }}">
        <h4>Play again</h4>
    </a>

    <hr />

    <h3>Total games played</h3>
    <span>
        {{ game.allPlayed }}
    </span>

    <hr />

    <h3>Wins</h3>
    <table>
        <thead>
            <tr>
                <td>
                    Player
                </td>
                <td>
                    Computer
                </td>
                <td>
                    Tie
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ game.playerWins }}
                </td>
                <td>
                    {{ game.compWins }}
                </td>
                <td>
                    {{ game.ties }}
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <h3>Actions Chosen</h3>
    <table>
        <thead>
            <tr>
                <td></td>
                {% for action in game.actions %}
                    <td>
                        {{ action | capitalize }}
                    </td>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <span>
                        All
                    </span>
                </td>
                {% for action in game.actionPlays %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <span>
                        Player
                    </span>
                </td>
                {% for action in game.playerActions %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <span>
                        Computer
                    </span>
                </td>
                {% for action in game.compActions %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <hr />

    <h3>Actions chosen which resulted in a win or tie</h3>
    <table>
        <thead>
            <tr>
                <td></td>
                {% for action in game.actions %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    All wins
                </td>
                {% for action in game.actionWins %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    Player
                </td>
                {% for action in game.playerWinActions %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    Computer
                </td>
                {% for action in game.compWinActions %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    Tie
                </td>
                {% for action in game.actionTies %}
                    <td>
                        {{ action }}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

{% endblock %}